

.u-section-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1 .u-text-1 {
  margin: 350px 803px 51px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 631px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 231px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 31px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 688px;
}

.u-section-2 .u-line-1 {
  width: 1032px;
  left: auto;
  top: 448px;
  transform-origin: left center 0px;
  position: absolute;
  height: 3px;
  right: 43px;
}

.u-section-2 .u-text-1 {
  margin: 54px 710px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 13px 710px 0 0;
}

.u-section-2 .u-image-1 {
  width: 604px;
  height: 391px;
  margin: -375px auto 0 536px;
}

.u-section-2 .u-text-3 {
  margin: 92px 859px 0 62px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  margin: -99px auto 0 -13px;
}

.u-section-2 .u-text-4 {
  margin: -81px 393px 0 481px;
}

.u-section-2 .u-text-5 {
  margin: -115px -37px 0 911px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: -98px auto 0 387px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: -64px 254px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    width: 940px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 510px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 510px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 336px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 721px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 118px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 293px;
    margin-left: 381px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 811px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 290px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 290px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 116px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 501px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 183px;
    margin-left: 271px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 701px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 110px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 110px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 350px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 321px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 93px;
    margin-left: 181px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 611px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 220px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 121px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 74px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 511px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 276px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 702px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 2px;
  background-image: none;
  font-size: 3rem;
  font-weight: normal;
  text-transform: none;
  text-decoration: underline !important;
  margin: 60px 0 0;
}

.u-section-3 .u-text-2 {
  width: 822px;
  margin: 40px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 369px;
  grid-template-columns: calc(33.3333% - 56.6667px) calc(33.3333% - 56.6667px) calc(33.3333% - 56.6667px);
  grid-gap: 85px 85px;
  width: 1087px;
  margin: 42px auto 0;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}



.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 13px 22px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}



.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 13px 22px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}



.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 13px 22px 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -81px auto 0 60px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px auto 0 233px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px auto 0 147px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px 237px 0 auto;
}

.u-section-3 .u-icon-5 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px auto 0 452px;
}

.u-section-3 .u-icon-6 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px 531px 0 auto;
}

.u-section-3 .u-icon-7 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px 148px 0 auto;
}

.u-section-3 .u-icon-8 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px 440px 0 auto;
}

.u-section-3 .u-icon-9 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -64px 56px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-3 .u-list-1 {
    min-height: 245px;
    height: auto;
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    width: 188px;
    height: 188px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
    width: 221px;
  }

  .u-section-3 .u-image-2 {
    width: 188px;
    height: 188px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
    width: 221px;
  }

  .u-section-3 .u-image-3 {
    width: 188px;
    height: 188px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
    width: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    min-height: 563px;
    grid-template-columns: calc(50% - 42.5px) calc(50% - 42.5px);
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 476px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 276px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 276px;
  }

  .u-section-3 .u-icon-8 {
    margin-right: 276px;
  }
}